:root {
    --green: #058536;
    --bg: #0a0a0a;
    --black: #000000;
    --shadow: 0 2px  2px rgb(0 0 0 / 0.5);
}

body {
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.hero h1, .hero h3 {
    text-shadow: var(--shadow);
}

.hero {
    position: relative;
    min-height: 100vh;
    background-size: contain;
}

.hero h1 {
    font-family: 'Alegreya SC', serif;
    font-size: 4rem;
    color: var(--black);
}

.hero h3 {
    font-family: 'Poppins', serif;
    font-size: 1.4rem;
    color: var(--black);
}

.hero a {
    font-weight: 600;
    background-color: rgba(241, 227, 227, 0.2);
}

.hero a:hover {
    background-color: var(--bg);
    color: #ffffff;
}

.moving-element {
    animation: bounce 1.2s infinite;
}

.navbar .nav-link .active {
    color: #FF0000; /* Warna yang diinginkan untuk link aktif */
    font-weight: bold; /*Atur gaya tebal untuk link aktif*/
    background-color: #0a0a0a;
}

.mynavbar {
    background-color: rgba(130,223,165, 0.6) !important;
    backdrop-filter: blur(3px);
}

.mynavbar .offcanvas {
    height: 100vh;
}

.mynavbar .brand-name .navbar-brand {
    font-family: 'Alegreya SC', serif;
    font-size: 1.5rem;
    font-weight: bold;
}


.mynavbar .offcanvas-title {
    font-family: 'Alegreya SC', serif;
    font-size: 3rem;
}

.mynavbar img {
    max-height:30px;
    padding-right: 3px;
}

.mynavbar .nav-link {
    text-transform: uppercase;
}

.about {
    margin-top: -3.8rem;
    padding-top: 4rem;
}

.about h6 {
    font-weight: 100;
}

.about h2 {
    color: var(--green);
    font-weight: bold;
}

.gallery {
    padding-top: 4rem;
    background-color: rgba(130,223,165, 0.6);
}

.gallery .slick-list { margin-bottom: 40px; }

.gallery .slick-dots {
    position: unset;
    bottom: 0;
  }
  
.gallery .slick-dots li {
background-color: #ffffff;
width: 20px;
height: 20px;
border-radius: 100%;
margin: 0 10px;
transition: all 0.3s ease;
}
  
.gallery .slick-dots li.slick-active,
.gallery .slick-dots li:hover {
background-color: #59a6e6;
}

.gallery .slick-dots li button { display: none; }

.contact {
    margin-top: -3.8rem;
    padding-top: 4rem;
}

.main-footer {
    background-color: #82dfa5;
    padding: 1rem;
    color: #6c757d;
    font-family: 'Work Sans', sans-serif;
  }

  .main-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-footer a {
    color: #007bff;
    text-decoration: none;
  }

  .main-footer a:hover {
    color: #0056b3;
    text-decoration: underline;
  }



  @media (max-width: 575.98px) {
    .main-footer .d-sm-inline-block {
      display: inline-block !important;
    }

    .main-footer .float-left,
    .main-footer .float-right {
      float: none !important;
      text-align: center;
    }
  }

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3px);
    }
}

/* media query */
/* laptop  */
@media (max-width: 992px) {
    html {
        font-size: 75%;
    }

    .about .about-left img {
        width: 80%;
    }
}

/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 65%;
    }
    
    .mynavbar .nav-link {
        font-size: 2rem;    
        text-align:center;
    }

    .logo-image {
        width: 50%;
    }

    .sticky-top {
        overflow: hidden;
    }

    .about .about-left img {
        width: 60%;
    }
}

/* mobile phone */
@media (max-width: 576px) {
    html {
        font-size: 50%;
    }
    
    .logo-image {
        width: 60%;
    }

    .about .about-left img {
        width: 60%;
    }
}
