:root {
    --green: #058536;
    --bg: #0a0a0a;
    --black: #000000;
    --shadow: 0 2px  2px rgb(0 0 0 / 0.5);
}

body {
    font-size: 1.2rem;
    font-family: 'Averia Serif Libre', sans-serif;
}


.section-title h2, .position h4, .section-title h3 {
    color: #aa7b05;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.hero {
    position: relative;
    min-height: 100vh;
    background-size: contain;
}

.hero .img-partner img {
    width: 800px;
}

.hero .img-powered img {
    width: 100px;
}

.hero .img-powered .powered-content {
    width: 150px;
}

.hero .img-powered h6 {
    font-size: 0.7rem;
}

.hero h1 {
    font-family: 'Averia Serif Libre', serif;
    font-size: 4rem;
    color: #aa7b05;
    text-shadow: var(--shadow);
}

.hero h3 {
    font-family: 'Averia Serif Libre', serif;
    font-size: 1.5rem;
    color: #aa7b05;
}

.hero a {
    font-weight: 600;
    background-color: rgba(241, 227, 227, 0.2);
}

.hero a:hover {
    background-color: var(--bg);
    color: #aa7b05;
    /* border-color: #aa7b05 !important; */
}

.hero .img-partner {
    margin-top: 3rem;
}

.moving-element {
    animation: bounce 1.2s infinite;
}

.active {
    color: #836007 !important; /* Warna yang diinginkan untuk link aktif */
    font-weight: bold; /*Atur gaya tebal untuk link aktif*/
    /* background-color: #000000; */
    /* border-radius: 50%; */
}

.mynavbar {
    /* background-color: rgba(12, 104, 47, 0.6) !important; */
    background-color: rgba(12, 104, 47, 0.6) !important;
    backdrop-filter: blur(3px);
}

.mynavbar .offcanvas {
    height: 100vh;
}

.mynavbar .brand-name .navbar-brand {
    font-family: 'Averia Serif Libre', serif;
    font-size: 1.5rem;
    /* color: #aa7b05 ; */
}

.mynavbar .offcanvas-title {
    font-family: 'Averia Serif Libre', serif;
    font-size: 2.5rem;
}

.mynavbar img {
    max-height:30px;
    padding-right: 3px;
}

.mynavbar .nav-link {
    text-transform: uppercase;
    /* color: rgb(212 175 55); */
    color: #000000;
}

.about {
    margin-top: -3.8rem;
    padding-top: 4rem;
}

.about h6 {
    font-weight: 100;
}

.about .position img{
    width: 850px;
}

.about .about-right p {
    font-size: 1.1rem;
    text-align: justify;
    text-justify: inter-word;
}

.about .about-right h3 {
    text-align: center;
    text-justify: inter-word;
}

.about h2, .about h5 {
    font-weight: bold;
}

.gallery {
    padding-top: 4rem;
    background-color: rgba(12, 104, 47, 0.6);
}

.gallery .slick-list { margin-bottom: 40px; }

.gallery .slick-dots {
    position: unset;
    bottom: 0;
  }
  
.gallery .slick-dots li {
background-color: #ffffff;
width: 20px;
height: 20px;
border-radius: 100%;
margin: 0 10px;
transition: all 0.3s ease;
}
  
.gallery .slick-dots li.slick-active,
.gallery .slick-dots li:hover {
background-color: #59a6e6;
}

.gallery .slick-dots li button { display: none; }

.contact {
    /* margin-top: -3.8rem; */
    padding-top: 4rem;
}

.contact .maps a:hover, .contact button:hover {
    color: #aa7b05 !important;
    background-color: #000000 !important;
}

.main-footer {
    background-color: rgba(12, 104, 47, 0.6);
    padding: 1rem;
    color: #000000;
    font-family: 'Work Sans', sans-serif;
}

.main-footer .container {
display: flex;
justify-content: space-between;
align-items: center;
}

.main-footer a {
color: #007bff;
text-decoration: none;
}

.main-footer a:hover {
color: #0056b3;
text-decoration: underline;
}
 

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3px);
    }
}

/* media query */
/* laptop  */
@media (max-width: 992px) {
    html {
        font-size: 75%;
    }

    .about .about-left img {
        width: 80%;
    }

    .about .position img, .hero .img-partner img{
        width: 650px;
    }

    .about .position .position-text {
        text-align: center !important;
        margin-top: 1rem;
    }

}

/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 65%;
    }
    
    .mynavbar .nav-link {
        font-size: 2rem;    
        text-align:center;
    }

    .logo-image {
        width: 20%;
    }

    .sticky-top {
        overflow: hidden;
    }

    .about .about-left img {
        width: 30%;
    }

    .about .position img {
        width: 500px;
    }

    .hero .img-partner img{
        width: 450px;
    }

    .about .position .position-text {
        text-align: center !important;
        margin-top: 1rem;
    }

    .hero .img-powered img {
        width: 80px;
    }
}

/* mobile phone */
@media (max-width: 576px) {
    html {
        font-size: 50%;
    }
    
    .hero main {
        margin-top: 4rem;
        padding-top: 4rem;
    }

    .hero .img-powered img {
        width: 60px;
    }

    .logo-image {
        width: 30%;
    }

    .about .about-left img {
        width: 60%;
    }

    .main-footer .d-sm-inline-block {
        display: inline-block !important;
    }
  
    .about .position img, .hero .img-partner img{
        width: 300px;
    }

    .about .position .position-text {
        text-align: center !important;
        margin-top: 1rem;
    }

    .main-footer .float-left,
    .main-footer .float-right {
    float: none !important;
    text-align: center;
    }
}
